{% extends "menu.html" %}
{% load static %}

{% block bloqueacompletar %}
<br>
<br>

<div class="card">
    <div class="card-body">
    <h3>Listado de Clientes</h3>
    <table class="table table-striped table-hover table-responsive-sm">
        <tr>
            <th>Cuit</th>
            <th>R.Social</th>
            <th>Domicilio</th>
            <th>Mail</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        {% for item in entity %}
        <tr>
            <td>{{ item.Cuit}} </td>
            <td>{{ item.RSocial | title}} </td>
            <td>{{ item.Domicilio }} </td>
            <td>{{ item.Mail }} </td>
            <td>{{ item.Telefono }} <td>
            <td>{{ item.Estado}} <td>
            <td>
                <a href="{% url 'modificar_cliente' item.id %}" class="btn btn-info btn-xs">modificar</a>
                <a href="{% url 'Eliminar_cliente' item.id %}" class="btn btn-danger btn-xs">Eliminar</a>
                
                <!--<a href="#" onclick="EliminarArticulo({{ item.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                !-->
                </td> 
        </tr>

        {% endfor %}
  
    </table>
</div>
    {% include 'paginador.html' %}
</div>

{% endblock %}

